<!-- Author Bio -->
<div class="row">
<div class="col-md-8 offset-md-2">
<div class="row alert alert-success opacity-5">
    <div class="col-5 col-sm-5 col-xs-5 col-md-3 col-lg-3 my-auto">
        <img class="img-fluid rounded-circle img-thumbnail" src ="{{ "/assets/images/Rajneesh.jpeg" | relative_url }}" alt = "picture of Venkat Rajneesh, author of rajneesh4500.github.io">
    </div>
    <div class="col-7 col-sm-7 col-xs-7 col-md-9 col-lg-9 my-auto">
        <span class="text-primary"><strong>Venkat Rajneesh</strong></span><br>
        <p>Hi, I'm Rajneesh! I'm an Embedded Software Engineer. I work on Linux 
            Device Drivers, Linux System Programming, Embedded System Design. 
            You can <a title="know more about Venkat Rajneesh" aria-label="link to about page" href="/about/">know more about me here.</a>
        </p>
    </div>
</div>
</div>
</div>